@model PAT_ELAC.Models.QuestionModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm()) { 
        @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Question)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question)
            @Html.ValidationMessageFor(model => model.Question)
        </div>
    </fieldset>

}
