@{
    ViewBag.Title = "Results for current test";
}
<head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<h1 align="center">
    Welcome, student_name!
</h1>

<h2 align="left">
    <u>You got 10/10 problems right!</u>
    <u>You advance to the next course</u>
</h2>


<section align="left">
    <h3>
        <u>Other Options</u>
    </h3>
    <button type="button" onclick="StudentAccount"> <b>Return to Student Account</b></button>
</section>

